@import '_setting.scss';

body {
  margin: 0;
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.3em;
}

.App {
  height: 100vh;
  background-color: $board-bg-color;
  overflow: hidden;
}
