@import '_setting.scss';

$appbar-bg-color: #164b7c;

.navbar-app {
  height: $appbar-height;
  background-color: $appbar-bg-color;
  font-size: 1.5em;
  padding-left: $gap;
  display: flex;
  align-items: center;
}
